.pageNumbers {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}
.page-container{
    margin: 50px auto auto;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 80vw;
    overflow: hidden;
}

.pageNumbers li {
    padding: 3px;
    margin: 2px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 0.8rem;
}

.next, .prev, .pageNumbers li.active {
    background-color: black;
    color: white;
}

.pageNumbers li button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 0.6rem;
    cursor: pointer;
    padding: 0;
}

prev, next, .pageNumbers li:hover {
    background-color: #636363;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pageNumbers li button:hover {
    margin:0;
    padding: 0;
    color: white;
}


.pageNumbers li button:focus {
    outline: none;
}
